.vscode
.gradle
.idea
.settings

# ActionScript
# Generated swc libraries
lib_as3/swc/

#Java
# These are compile time only classes.
lib_android/libs/

# Not required cause we have gradle package.
lib_android/.classpath
lib_android/.project
lib_android/*.iml
lib_android/local.properties

# Build files
lib_android/build
dist/